---
layout: default
---
<!-- For all browsers -->
<script src="https://kit.fontawesome.com/4eee35f757.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?version=20240318">
<link rel="stylesheet" href="{{ '/assets/css/tableStyles.css' | relative_url }}?version=20240318">
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}?version=20240318">

<button onclick="topFunction()" id="myBtnTop" title="Go to top">Top</button>

<script>
    var mybutton = document.getElementById("myBtnTop");

    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<div id="main" role="main">
    <article class="splash" style="margin:0px;" itemscope itemtype="https://schema.org/CreativeWork">
         <!-- banner -->
         <a href={{ "/" | relative_url }}><img class="ieeevrbanner" src={{ "/assets/images/IEEEVR_2025_LogoBanner.jpg" | relative_url }} alt="The official banner for the IEEE Conference on Virtual Reality + User Interfaces, comprised of a Kiwi wearing a VR headset overlaid on an image of Mount Cook and a braided river."></a>
       
		 <!-- navbar -->
        <div class="topnav" id="myTopnav">
            <a href=/2025/ class="active">IEEE VR</a>

            <div class="dropdown">
                <button class="dropbtn">Attend &#9662;</button>
                <div class="dropdown-content">
                    <a href=/2025/attend/code-of-conduct/>Code of Conduct</a>
                    <!--<a href=/2025/attend/registration/>Registration</a>-->
                    <!--<a href=/2025/attend/getting-there/>Getting There</a>-->
                    <!--<a href=/2025/attend/accommodations>Accommodations</a>-->
                    <!--<a href=/2025/attend/tourism>Tourism</a>-->
                      </div>
            </div>
            <script> /***
            <div class="dropdown">
                <button class="dropbtn">Program &#9662;</button>
                <div class="dropdown-content">
                    <a href=/2025/program/overview/>Overview</a>
                    <a href=/2025/program/keynote-speakers/>Keynote Speakers</a>
                    <a href=/2025/program/papers/>Papers</a>
                    <a href=/2025/program/posters/>Posters</a>
                    <a href=/2025/program/workshop/>Workshops</a>
                    <a href=/2025/program/tutorials/>Tutorials</a>
                    <a href=/2025/program/panels/>Panels</a>
                    <a href=/2025/program/videos/>Videos</a>
                    <a href=/2025/program/doctoral-consortium/>Doctoral Consortium</a>
                    <a href=/2025/program/demos/>Demos</a>
                    <a href=/2025/program/3dui-contest/>3DUI Contest</a>
                    <a href=/2025/program/social-events/>Social Events</a>
                    <a href=/2025/program/forum/>Metaverse Industry Forum</a>
                    <a href=/2025/program/exchange-event/>Youth Scholars Exchange Event</a>
                </div>
            </div>
                ***/ </script>
            
            <div class="dropdown">
                <button class="dropbtn">Contribute &#9662;</button>
                <div class="dropdown-content">
                    <!--<a href=/2025/contribute/exhibitors>Call for Exhibitors and Sponsors</a>-->
                    <a href=/2025/contribute/papers/>Call for Papers</a>
                    <!--<a href=/2025/contribute/posters/>Call for Posters</a>-->
                    <!--<a href=/2025/contribute/workshops/>Call for Workshops</a>-->
                    <a href=/2025/contribute/3dui-contest/>Call for 3DUI Contest Entries</a>
                    <a href=/2025/contribute/demos/>Call for Research Demos</a>
                    <a href=/2025/contribute/xrgallery/>Call for Proposals "<strong>XR Gallery</strong>"</a>
                    <a href=/2025/contribute/doctoral-consortium/>Call for Doctoral Consortium</a>
                    <!--<a href=/2025/contribute/tutorials/>Call for Tutorials</a>-->
                    <!--<a href=/2025/contribute/workshoppapers/>Call for Workshop Papers</a>-->
                    <!--<a href=/2025/contribute/panels/>Call for Panels</a>-->
                    <!--<a href=/2025/contribute/videos/>Call for Videos</a>-->
                    <!--<a href=/2025/contribute/studentVolunteers/>Call for Student Volunteers</a>-->
                    <!--<a href=/2025/contribute/satellite-event/>Call for Satellite Event</a>-->
                </div>
            </div>
            <script> /***
             <div class="dropdown">
                <button class="dropbtn">Awards &#9662;</button>
                <div class="dropdown-content">
                    <a href=/2025/awards/vgtc>VGTC Awards</a>
                    <a href=/2025/awards/conference-awards>Conference Awards</a>
                </div>
            </div> 
            ***/ </script>

            <div class="dropdown">
                <button class="dropbtn">Committees &#9662;</button>
                <div class="dropdown-content">
                    <a href=/2025/committees/conference-committee/>Conference Committee</a>
                    <a href=/2025/committees/steering-committee/>Steering Committee</a>
                    <!--<a href=/2025/committees/program-committee/>Program Committee</a>-->
                    <!--<a href=/2025/committees/reviewers/>Reviewers</a>-->
                </div>
            </div>
            <script> /***
            <div class="dropdown">
                <button class="dropbtn">Resources &#9662;</button>
                <div class="dropdown-content">
                    <a href=/2025/resources#slide-templates>Slide Templates</a>
                    <a href=/2025/resources#poster-templates>Poster Templates</a>
                    <a href=/2025/resources#logos>Conference Logos</a> 
                </div>
            </div>            
            ***/ </script>
            <a href=https://ieeevr.org/PastConferences.html#past>Past Conferences</a>
            <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
	   
	   
        <!-- content -->
        <section class="page__content" itemprop="text">
            <div class="row">
                <!-- Main Content -->
                {{ content }}
            </div>

            <!--  footer -->
            <div class="ieeevrfooter">
                <hr>
                <div>
                    <a href="https://www.ieee.org" target="_new" style="margin-left: 2rem;">
                        <img src={{ "/assets/images/sponsors/ieee-logo-white.svg" | relative_url }} alt="IEEE" style="height: 35px;">
                    </a>
                    <a  href="https://www.computer.org" target="_new" style="margin-left: 2rem;">
                        <img src={{ "/assets/images/sponsors/ieee-cs-logo-white.svg" | relative_url }} alt="IEEE Computer Society" style="height: 35px;">
                    </a>
                    <a href="http://vgtc.org" target="_new" style="margin-left: 2rem;">
                        <img src={{ "/assets/images/sponsors/ieee-vgtc-logo-white.svg" | relative_url }} alt="IEEE Visualization and Graphics Technical Community" style="height: 35px;">
                    </a>
                    <a href="https://www.inria.fr/en" target="_new" style="margin-left: 2rem;">
                        <img src={{ "/assets/images/sponsors/inria_logo_white_small.svg" | relative_url }} alt="INRIA" style="height: 35px;">
                    </a>
                </div>
                <p style="text-align:center ! important;">©IEEE VR Conference 2025, Sponsored by the IEEE Computer Society and the Visualization and Graphics Technical Committee</p>
            </div>
        </section>

    </article>
</div>
